.profile__user-name-block {
	display: flex;
	justify-content: center;
	padding: 30px;
}

.profile__user-info-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.profile__preview-content-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
	justify-content: center;
	margin-left: 40px;
}

.profile__preview-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
